In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("PostgreSQL_to_MongoDB") \
    .config("spark.mongodb.write.connection.uri", "mongodb://root:password@mongo:27017") \
    .config("spark.mongodb.read.connection.uri", "mongodb://root:password@mongo:27017") \
    .config("spark.mongodb.write.database", "sales_dwh") \
    .config("spark.mongodb.read.database", "sales_dwh") \
    .config("spark.mongodb.write.collection", "temp_collection") \
    .config("spark.mongodb.read.collection", "temp_collection") \
    .config("spark.mongodb.write.credential", "root:password@admin") \
    .config("spark.mongodb.read.credential", "root:password@admin") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/18 18:15:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Ð¢ÐµÑÑ‚Ð¾Ð²Ñ‹Ð¹ ÑÐºÑ€Ð¸Ð¿Ñ‚ Ð´Ð»Ñ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÐºÐ¸ Ð¿Ð¾Ð´ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ñ
def test_mongodb_connection():
    try:
        # ÐŸÑ€Ð¾Ð±ÑƒÐµÐ¼ Ð¿Ñ€Ð¾Ñ‡Ð¸Ñ‚Ð°Ñ‚ÑŒ Ñ‚ÐµÑÑ‚Ð¾Ð²Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ
        test_df = spark.read \
            .format("mongo") \
            .option("uri", "mongodb://root:password@mongo:27017/sales_dwh.test_connection?authSource=admin") \
            .load()
        
        print("âœ… ÐŸÐ¾Ð´ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ðµ Ðº MongoDB ÑƒÑÐ¿ÐµÑˆÐ½Ð¾!")
        return True
    except Exception as e:
        print(f"âŒ ÐžÑˆÐ¸Ð±ÐºÐ° Ð¿Ð¾Ð´ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ñ: {e}")
        return False

# Ð—Ð°Ð¿ÑƒÑÐº Ñ‚ÐµÑÑ‚Ð°
test_mongodb_connection()

âœ… ÐŸÐ¾Ð´ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ðµ Ðº MongoDB ÑƒÑÐ¿ÐµÑˆÐ½Ð¾!

True

In [4]:
def write_df_to_mongodb(df, collection_name, database_name="sales_dwh"):
    """Ð—Ð°Ð¿Ð¸ÑÑ‹Ð²Ð°ÐµÑ‚ DataFrame Ð² MongoDB"""
    
    df.write \
        .format("mongo") \
        .mode("overwrite") \
        .option("uri", f"mongodb://root:password@mongo:27017/{database_name}.{collection_name}?authSource=admin") \
        .option("database", database_name) \
        .option("collection", collection_name) \
        .save()
    
    print(f"Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ {collection_name}")

In [5]:
pg_url = "jdbc:postgresql://postgres:5432/bober_db"
pg_properties = {"user": "bober", "password": "bober", "driver": "org.postgresql.Driver"}
df = spark.read.jdbc(url=pg_url, table="mock_data", properties=pg_properties)

# Ð—Ð°Ð³Ñ€ÑƒÐ¶Ð°ÐµÐ¼ Ð²ÑÐµ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ð·Ð²ÐµÐ·Ð´Ñ‹
fact = spark.read.jdbc(url=pg_url, table="fact_sales", properties=pg_properties)
dim_product = spark.read.jdbc(url=pg_url, table="dim_product", properties=pg_properties)
dim_customer = spark.read.jdbc(url=pg_url, table="dim_customer", properties=pg_properties)
dim_store = spark.read.jdbc(url=pg_url, table="dim_store", properties=pg_properties)
dim_supplier = spark.read.jdbc(url=pg_url, table="dim_supplier", properties=pg_properties)
dim_date = spark.read.jdbc(url=pg_url, table="dim_date", properties=pg_properties)
dim_date.head(1)

[Row(full_date=datetime.date(2021, 1, 1), date_id=1, year=2021, month=1, day=1, quarter=1)]

In [ ]:
# ÐŸÑ€Ð¾Ð´Ð°Ð¶Ð¸ Ð¿Ð¾ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð°Ð¼
product_sales_mart = fact.alias("f") \
    .join(dim_product.alias("p"), "product_id") \
    .groupBy("p.product_id", "p.name", "p.category") \
    .agg(
        sum("f.sale_quantity").alias("total_quantity_sold"),
        sum("f.sale_total_price").alias("total_revenue"),
        avg("p.rating").alias("average_rating"),
        sum("p.reviews").alias("total_reviews"),
        count("f.sale_id").alias("number_of_sales")
    ) \
    .withColumn("mart_type", lit("product_sales"))

# ÐŸÑ€Ð¾Ð´Ð°Ð¶Ð¸ Ð¿Ð¾ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð°Ð¼
customer_sales_mart = fact.alias("f") \
    .join(dim_customer.alias("c"), "customer_id") \
    .groupBy("c.customer_id", "c.first_name", "c.last_name", "c.country") \
    .agg(
        sum("f.sale_total_price").alias("total_spent"),
        count("f.sale_id").alias("total_purchases"),
        avg("f.sale_total_price").alias("average_order_value"),
        countDistinct("f.product_id").alias("unique_products_purchased")
    ) \
    .withColumn("mart_type", lit("customer_sales"))

# ÐŸÑ€Ð¾Ð´Ð°Ð¶Ð¸ Ð¿Ð¾ Ð²Ñ€ÐµÐ¼ÐµÐ½Ð¸
time_sales_mart = fact.alias("f") \
    .join(dim_date.alias("d"), "date_id") \
    .groupBy("d.year", "d.month", "d.quarter") \
    .agg(
        sum("f.sale_total_price").alias("monthly_revenue"),
        sum("f.sale_quantity").alias("monthly_quantity"),
        count("f.sale_id").alias("monthly_orders"),
        avg("f.sale_total_price").alias("average_order_size")
    ) \
    .withColumn("mart_type", lit("time_sales"))

# ÐŸÑ€Ð¾Ð´Ð°Ð¶Ð¸ Ð¿Ð¾ Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°Ð¼
store_sales_mart = fact.alias("f") \
    .join(dim_store.alias("s"), "store_id") \
    .groupBy("s.store_id", "s.store_name", "s.store_city", "s.store_country") \
    .agg(
        sum("f.sale_total_price").alias("total_revenue"),
        count("f.sale_id").alias("total_sales"),
        avg("f.sale_total_price").alias("average_transaction_value"),
        countDistinct("f.customer_id").alias("unique_customers")
    ) \
    .withColumn("mart_type", lit("store_sales"))

# ÐŸÑ€Ð¾Ð´Ð°Ð¶Ð¸ Ð¿Ð¾ Ð¿Ð¾ÑÑ‚Ð°Ð²Ñ‰Ð¸ÐºÐ°Ð¼
supplier_sales_mart = fact.alias("f") \
    .join(dim_supplier.alias("sup"), "supplier_id") \
    .join(dim_product.alias("p"), "product_id") \
    .groupBy("sup.supplier_id", "sup.supplier_name", "sup.supplier_country") \
    .agg(
        sum("f.sale_total_price").alias("total_revenue"),
        avg("p.price").alias("average_product_price"),
        count("f.sale_id").alias("total_products_sold"),
        countDistinct("p.product_id").alias("unique_products")
    ) \
    .withColumn("mart_type", lit("supplier_sales"))

# ÐšÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ†Ð¸Ð¸
product_quality_mart = dim_product.alias("p") \
    .join(fact.alias("f"), "product_id", "left") \
    .groupBy("p.product_id", "p.name", "p.category", "p.brand") \
    .agg(
        avg("p.rating").alias("average_rating"),
        sum("p.reviews").alias("total_reviews"),
        sum("f.sale_quantity").alias("total_quantity_sold"),
        sum("f.sale_total_price").alias("total_revenue"),
        count("f.sale_id").alias("number_of_sales")
    ) \
    .withColumn("mart_type", lit("product_quality"))

In [7]:
# Ð—Ð°Ð³Ñ€ÑƒÐ·ÐºÐ° Ð²ÑÐµÑ… Ð²Ð¸Ñ‚Ñ€Ð¸Ð½ Ð² MongoDB
write_df_to_mongodb(product_sales_mart, "product_sales_mart")
write_df_to_mongodb(customer_sales_mart, "customer_sales_mart")
write_df_to_mongodb(time_sales_mart, "time_sales_mart")
write_df_to_mongodb(store_sales_mart, "store_sales_mart")
write_df_to_mongodb(supplier_sales_mart, "supplier_sales_mart")
write_df_to_mongodb(product_quality_mart, "product_quality_mart")

Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ product_sales_mart
Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ customer_sales_mart
Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ time_sales_mart
Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ store_sales_mart

25/11/18 18:15:57 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ supplier_sales_mart
Ð”Ð°Ð½Ð½Ñ‹Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð¿Ð¸ÑÐ°Ð½Ñ‹ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ product_quality_mart

In [10]:
# Ð¤ÑƒÐ½ÐºÑ†Ð¸Ñ Ð´Ð»Ñ Ñ‡Ñ‚ÐµÐ½Ð¸Ñ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¸ Ð¸Ð· MongoDB
def read_mongodb_collection(collection_name, database="sales_dwh"):
    """Ð§Ð¸Ñ‚Ð°ÐµÑ‚ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ Ð¸Ð· MongoDB Ñ‡ÐµÑ€ÐµÐ· Spark"""
    try:
        df = spark.read \
            .format("mongo") \
            .option("uri", f"mongodb://root:password@mongo:27017/{database}.{collection_name}?authSource=admin") \
            .load()

        return df
    except Exception as e:
        print(f"âŒ ÐžÑˆÐ¸Ð±ÐºÐ° Ñ‡Ñ‚ÐµÐ½Ð¸Ñ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¸ {collection_name}: {e}")
        return None

# 1. ÐŸÑ€Ð¾Ð²ÐµÑ€ÐºÐ° ÑÐ¿Ð¸ÑÐºÐ° ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¹ (Ñ‡ÐµÑ€ÐµÐ· Ñ‡Ñ‚ÐµÐ½Ð¸Ðµ ÑÐ¸ÑÑ‚ÐµÐ¼Ð½Ð¾Ð¹ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¸)
def list_collections_spark():
    """ÐŸÐ¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÑ‚ ÑÐ¿Ð¸ÑÐ¾Ðº ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¹ Ñ‡ÐµÑ€ÐµÐ· Spark"""
    try:
        # Ð§Ð¸Ñ‚Ð°ÐµÐ¼ ÑÐ¸ÑÑ‚ÐµÐ¼Ð½ÑƒÑŽ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ (Ð¼Ð¾Ð¶ÐµÑ‚ Ð½Ðµ Ñ€Ð°Ð±Ð¾Ñ‚Ð°Ñ‚ÑŒ Ð² Ð½ÐµÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ñ… Ð²ÐµÑ€ÑÐ¸ÑÑ…)
        collections_df = spark.read \
            .format("com.mongodb.spark.sql.DefaultSource") \
            .option("uri", "mongodb://root:password@mongo:27017/sales_dwh.system.namespaces") \
            .option("authSource", "admin") \
            .load()
        print("âœ… ÐšÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¸ Ð² Ð±Ð°Ð·Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ…:")
        collections_df.show(truncate=False)
    except:
        # ÐÐ»ÑŒÑ‚ÐµÑ€Ð½Ð°Ñ‚Ð¸Ð²Ð½Ñ‹Ð¹ ÑÐ¿Ð¾ÑÐ¾Ð± - Ð¿Ñ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ ÐºÐ°Ð¶Ð´ÑƒÑŽ Ð¾Ð¶Ð¸Ð´Ð°ÐµÐ¼ÑƒÑŽ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑŽ
        expected_collections = [
            "product_sales_mart",
            "customer_sales_mart", 
            "time_sales_mart",
            "store_sales_mart",
            "supplier_sales_mart",
            "product_quality_mart"
        ]
        
        print("ðŸ” ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð´Ð¾ÑÑ‚ÑƒÐ¿Ð½Ð¾ÑÑ‚ÑŒ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¹:")
        for collection in expected_collections:
            df = read_mongodb_collection(collection)
            if df is not None:
                count = df.count()
                print(f"âœ… {collection}: {count} Ð·Ð°Ð¿Ð¸ÑÐµÐ¹")
            else:
                print(f"âŒ {collection}: Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½Ð°")

# 2. ÐŸÑ€Ð¾Ð²ÐµÑ€ÐºÐ° Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð² ÐºÐ¾Ð½ÐºÑ€ÐµÑ‚Ð½Ñ‹Ñ… ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑÑ…
def check_collection_data():
    """ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÑ‚ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð² Ð¾ÑÐ½Ð¾Ð²Ð½Ñ‹Ñ… ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑÑ…"""
    
    collections_to_check = {
        "product_sales_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð°Ð¼",
        "customer_sales_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð°Ð¼", 
        "time_sales_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð²Ñ€ÐµÐ¼ÐµÐ½Ð¸",
        "store_sales_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°Ð¼",
        "supplier_sales_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¿Ð¾ÑÑ‚Ð°Ð²Ñ‰Ð¸ÐºÐ°Ð¼",
        "product_quality_mart": "Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð° Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ†Ð¸Ð¸"
    }
    
    for collection, description in collections_to_check.items():
        print(f"\nðŸ“Š {description} ({collection}):")
        df = read_mongodb_collection(collection)
        
        if df is not None:
            # ÐŸÐ¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÐ¼ ÑÑ…ÐµÐ¼Ñƒ Ð¸ Ð¿ÐµÑ€Ð²Ñ‹Ðµ Ð·Ð°Ð¿Ð¸ÑÐ¸
            print("Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:")
            df.printSchema()
            
            print("ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:")
            df.show(10, truncate=False)
            
            # Ð‘Ð°Ð·Ð¾Ð²Ð°Ñ ÑÑ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸ÐºÐ°
            print("ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:", df.count())
            
            # ÐŸÐ¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÐ¼ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ ÐºÐ»ÑŽÑ‡ÐµÐ²Ñ‹Ñ… ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº
            columns = df.columns
            if len(columns) > 0:
                print("Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸:", columns[:5])  # ÐŸÐµÑ€Ð²Ñ‹Ðµ 5 ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº
        else:
            print("âŒ ÐšÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ñ Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½Ð° Ð¸Ð»Ð¸ Ð½ÐµÐ´Ð¾ÑÑ‚ÑƒÐ¿Ð½Ð°")

# 3. Ð”ÐµÑ‚Ð°Ð»ÑŒÐ½Ð°Ñ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÐºÐ° ÐºÐ¾Ð½ÐºÑ€ÐµÑ‚Ð½Ð¾Ð¹ Ð²Ð¸Ñ‚Ñ€Ð¸Ð½Ñ‹
def detailed_product_analysis():
    """Ð”ÐµÑ‚Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ð°Ð½Ð°Ð»Ð¸Ð· Ð²Ð¸Ñ‚Ñ€Ð¸Ð½Ñ‹ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¾Ð²"""
    print("\n" + "="*50)
    print("Ð”Ð•Ð¢ÐÐ›Ð¬ÐÐ«Ð™ ÐÐÐÐ›Ð˜Ð—: ÐŸÐ ÐžÐ”ÐÐ–Ð˜ ÐŸÐž ÐŸÐ ÐžÐ”Ð£ÐšÐ¢ÐÐœ")
    print("="*50)
    
    df = read_mongodb_collection("product_sales_mart")
    if df is not None:
        # Ð¢Ð¾Ð¿ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¾Ð² Ð¿Ð¾ Ð²Ñ‹Ñ€ÑƒÑ‡ÐºÐµ
        print("ðŸ† Ð¢Ð¾Ð¿-10 Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¾Ð² Ð¿Ð¾ Ð²Ñ‹Ñ€ÑƒÑ‡ÐºÐµ:")
        df.orderBy("total_revenue", ascending=False) \
          .select("name", "category", "total_revenue", "total_quantity") \
          .show(10, truncate=False)
        
        # Ð¡Ñ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸ÐºÐ° Ð¿Ð¾ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸ÑÐ¼
        print("ðŸ“ˆ Ð¡Ñ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸ÐºÐ° Ð¿Ð¾ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸ÑÐ¼:")
        df.groupBy("category") \
          .agg(
            sum("total_revenue").alias("category_revenue"),
            avg("avg_rating").alias("avg_category_rating"),
            count("product_id").alias("products_count")
          ) \
          .orderBy("category_revenue", ascending=False) \
          .show(truncate=False)

# 4. ÐŸÑ€Ð¾Ð²ÐµÑ€ÐºÐ° ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…
def data_quality_check():
    """ÐŸÑ€Ð¾Ð²ÐµÑ€ÐºÐ° ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð²Ð¾ Ð²ÑÐµÑ… Ð²Ð¸Ñ‚Ñ€Ð¸Ð½Ð°Ñ…"""
    print("\n" + "="*50)
    print("ÐŸÐ ÐžÐ’Ð•Ð ÐšÐ ÐšÐÐ§Ð•Ð¡Ð¢Ð’Ð Ð”ÐÐÐÐ«Ð¥")
    print("="*50)
    
    collections = [
        "product_sales_mart",
        "customer_sales_mart", 
        "time_sales_mart",
        "store_sales_mart", 
        "supplier_sales_mart",
        "product_quality_mart"
    ]
    
    for collection in collections:
        df = read_mongodb_collection(collection)
        if df is not None:
            total_count = df.count()
            null_counts = {}
            
            # ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð¾ÑÐ½Ð¾Ð²Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ð½Ð° null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ
            for column in df.columns[:3]:  # ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð¿ÐµÑ€Ð²Ñ‹Ðµ 3 ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸
                null_count = df.filter(df[column].isNull()).count()
                null_counts[column] = null_count
            
            print(f"\nðŸ” {collection}:")
            print(f"   Ð’ÑÐµÐ³Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: {total_count}")
            print(f"   Null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ: {null_counts}")
            
            # ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ ÐµÑÑ‚ÑŒ Ð»Ð¸ Ð´ÑƒÐ±Ð»Ð¸ÐºÐ°Ñ‚Ñ‹ Ð¿Ð¾ Ð¿ÐµÑ€Ð²Ð¾Ð¹ ÐºÐ¾Ð»Ð¾Ð½ÐºÐµ
            if len(df.columns) > 0:
                first_col = df.columns[0]
                distinct_count = df.select(first_col).distinct().count()
                if distinct_count != total_count:
                    print(f"   âš ï¸ Ð’Ð¾Ð·Ð¼Ð¾Ð¶Ð½Ñ‹Ðµ Ð´ÑƒÐ±Ð»Ð¸ÐºÐ°Ñ‚Ñ‹ Ð² {first_col}")
                else:
                    print(f"   âœ… ÐÐµÑ‚ Ð´ÑƒÐ±Ð»Ð¸ÐºÐ°Ñ‚Ð¾Ð² Ð² {first_col}")

# 5. ÐžÑÐ½Ð¾Ð²Ð½Ð°Ñ Ñ„ÑƒÐ½ÐºÑ†Ð¸Ñ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÐºÐ¸
def main_check():
    """ÐžÑÐ½Ð¾Ð²Ð½Ð°Ñ Ñ„ÑƒÐ½ÐºÑ†Ð¸Ñ Ð´Ð»Ñ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÐºÐ¸ Ð²ÑÐµÑ… Ð²Ð¸Ñ‚Ñ€Ð¸Ð½"""
    print("ðŸš€ Ð—ÐÐŸÐ£Ð¡Ðš ÐŸÐ ÐžÐ’Ð•Ð ÐšÐ˜ MONGODB Ð§Ð•Ð Ð•Ð— SPARK")
    print("="*60)
    
    # 1. ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð´Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¸
    list_collections_spark()
    
    # 2. ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð² ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸ÑÑ…
    check_collection_data()
    
    # 3. Ð”ÐµÑ‚Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ð°Ð½Ð°Ð»Ð¸Ð· Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¾Ð²
    detailed_product_analysis()
    
    # 4. ÐŸÑ€Ð¾Ð²ÐµÑ€ÐºÐ° ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…
    data_quality_check()
    
    print("\n" + "="*60)
    print("âœ… ÐŸÐ ÐžÐ’Ð•Ð ÐšÐ Ð—ÐÐ’Ð•Ð Ð¨Ð•ÐÐ")

In [11]:
# TODO: ÐŸÑ€Ð¾Ð²ÐµÑ€Ð¸Ñ‚ÑŒ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ðµ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº
main_check()

ðŸš€ Ð—ÐÐŸÐ£Ð¡Ðš ÐŸÐ ÐžÐ’Ð•Ð ÐšÐ˜ MONGODB Ð§Ð•Ð Ð•Ð— SPARK
============================================================
ðŸ” ÐŸÑ€Ð¾Ð²ÐµÑ€ÑÐµÐ¼ Ð´Ð¾ÑÑ‚ÑƒÐ¿Ð½Ð¾ÑÑ‚ÑŒ ÐºÐ¾Ð»Ð»ÐµÐºÑ†Ð¸Ð¹:
âœ… product_sales_mart: 6210 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹
âœ… customer_sales_mart: 10000 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹
âœ… time_sales_mart: 12 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹
âœ… store_sales_mart: 1611 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹
âœ… supplier_sales_mart: 10000 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹
âœ… product_quality_mart: 9982 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð°Ð¼ (product_sales_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_rating: decimal(6,5) (nullable = true)
 |-- category: string (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- number_of_sales: long (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- total_quantity_sold: long (nullable = true)
 |-- total_revenue: decimal(7,2) (nullable = true)
 |-- total_reviews: long (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+--------------+--------+-------------+---------+---------------+----------+-------------------+-------------+-------------+
|_id                       |average_rating|category|mart_type    |name     |number_of_sales|product_id|total_quantity_sold|total_revenue|total_reviews|
+--------------------------+--------------+--------+-------------+---------+---------------+----------+-------------------+-------------+-------------+
|{691cb7db428c6c622582717e}|3.06667       |Toy     |product_sales|Bird Cage|30             |471       |168                |7614.12      |4930         |
|{691cb7db428c6c622582717f}|2.05000       |Cage    |product_sales|Cat Toy  |20             |471       |112                |5076.08      |4350         |
|{691cb7db428c6c6225827180}|2.20000       |Food    |product_sales|Bird Cage|10             |471       |56                 |2538.04      |1660         |
|{691cb7db428c6c6225827181}|3.46667       |Cage    |product_sales|Bird Cage|30             |471       |168                |7614.12      |9460         |
|{691cb7db428c6c6225827182}|1.70000       |Toy     |product_sales|Dog Food |10             |471       |56                 |2538.04      |4890         |
|{691cb7db428c6c6225827183}|4.10000       |Food    |product_sales|Cat Toy  |30             |148       |162                |9441.84      |8300         |
|{691cb7db428c6c6225827184}|3.15000       |Food    |product_sales|Bird Cage|20             |148       |108                |6294.56      |6900         |
|{691cb7db428c6c6225827185}|2.30000       |Cage    |product_sales|Cat Toy  |20             |148       |108                |6294.56      |15260        |
|{691cb7db428c6c6225827186}|4.00000       |Food    |product_sales|Dog Food |10             |148       |54                 |3147.28      |8080         |
|{691cb7db428c6c6225827187}|1.00000       |Toy     |product_sales|Cat Toy  |10             |148       |54                 |3147.28      |8540         |
+--------------------------+--------------+--------+-------------+---------+---------------+----------+-------------------+-------------+-------------+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 6210
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_rating', 'category', 'mart_type', 'name']

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð°Ð¼ (customer_sales_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_order_value: decimal(9,6) (nullable = true)
 |-- country: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- total_purchases: long (nullable = true)
 |-- total_spent: decimal(6,2) (nullable = true)
 |-- unique_products_purchased: long (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+-------------------+-------------+-----------+----------+-----------+--------------+---------------+-----------+-------------------------+
|_id                       |average_order_value|country      |customer_id|first_name|last_name  |mart_type     |total_purchases|total_spent|unique_products_purchased|
+--------------------------+-------------------+-------------+-----------+----------+-----------+--------------+---------------+-----------+-------------------------+
|{691cb7dc428c6c62258289c1}|271.420000         |Costa Rica   |463        |Judy      |McGow      |customer_sales|10             |2714.20    |1                        |
|{691cb7dc428c6c62258289c2}|278.500000         |Pakistan     |833        |Natasha   |Sheircliffe|customer_sales|10             |2785.00    |1                        |
|{691cb7dc428c6c62258289c3}|278.500000         |Russia       |833        |Anastassia|Bartlam    |customer_sales|10             |2785.00    |1                        |
|{691cb7dc428c6c62258289c4}|278.500000         |Philippines  |833        |Celestyna |Klimpt     |customer_sales|10             |2785.00    |1                        |
|{691cb7dc428c6c62258289c5}|271.420000         |United States|463        |Ruthann   |Kerfoot    |customer_sales|10             |2714.20    |1                        |
|{691cb7dc428c6c62258289c6}|253.804000         |Brazil       |471        |Evered    |Geeve      |customer_sales|10             |2538.04    |1                        |
|{691cb7dc428c6c62258289c7}|271.420000         |Poland       |463        |Frankie   |Moggie     |customer_sales|10             |2714.20    |1                        |
|{691cb7dc428c6c62258289c8}|314.728000         |Poland       |148        |Quinton   |Verman     |customer_sales|10             |3147.28    |1                        |
|{691cb7dc428c6c62258289c9}|314.728000         |Poland       |148        |Lamont    |Topley     |customer_sales|10             |3147.28    |1                        |
|{691cb7dc428c6c62258289ca}|278.500000         |Sweden       |833        |Clare     |Beckingham |customer_sales|10             |2785.00    |1                        |
+--------------------------+-------------------+-------------+-----------+----------+-----------+--------------+---------------+-----------+-------------------------+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 10000
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_order_value', 'country', 'customer_id', 'first_name']

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð²Ñ€ÐµÐ¼ÐµÐ½Ð¸ (time_sales_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_order_size: decimal(9,6) (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- monthly_orders: long (nullable = true)
 |-- monthly_quantity: long (nullable = true)
 |-- monthly_revenue: decimal(8,2) (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- year: integer (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+------------------+----------+-----+--------------+----------------+---------------+-------+----+
|_id                       |average_order_size|mart_type |month|monthly_orders|monthly_quantity|monthly_revenue|quarter|year|
+--------------------------+------------------+----------+-----+--------------+----------------+---------------+-------+----+
|{691cb7dd428c6c622582b0d2}|256.437592        |time_sales|10   |893           |4983            |228998.77      |4      |2021|
|{691cb7dd428c6c622582b0d3}|246.825352        |time_sales|4    |837           |4564            |206592.82      |2      |2021|
|{691cb7dd428c6c622582b0d4}|256.699031        |time_sales|1    |877           |4868            |225125.05      |1      |2021|
|{691cb7dd428c6c622582b0d5}|249.881011        |time_sales|11   |801           |4297            |200154.69      |4      |2021|
|{691cb7dd428c6c622582b0d6}|245.886358        |time_sales|3    |843           |4561            |207282.20      |1      |2021|
|{691cb7dd428c6c622582b0d7}|260.281881        |time_sales|2    |739           |4070            |192348.31      |1      |2021|
|{691cb7dd428c6c622582b0d8}|246.684259        |time_sales|8    |897           |4818            |221275.78      |3      |2021|
|{691cb7dd428c6c622582b0d9}|248.530987        |time_sales|12   |770           |4335            |191368.86      |4      |2021|
|{691cb7dd428c6c622582b0da}|261.609246        |time_sales|6    |822           |4438            |215042.80      |2      |2021|
|{691cb7dd428c6c622582b0db}|256.988939        |time_sales|7    |858           |4750            |220496.51      |3      |2021|
+--------------------------+------------------+----------+-----+--------------+----------------+---------------+-------+----+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 12
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_order_size', 'mart_type', 'month', 'monthly_orders']

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°Ð¼ (store_sales_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_transaction_value: decimal(9,6) (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- store_city: string (nullable = true)
 |-- store_country: string (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- store_name: string (nullable = true)
 |-- total_revenue: decimal(5,2) (nullable = true)
 |-- total_sales: long (nullable = true)
 |-- unique_customers: long (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+-------------------------+-----------+-----------------------+--------------+--------+----------+-------------+-----------+----------------+
|_id                       |average_transaction_value|mart_type  |store_city             |store_country |store_id|store_name|total_revenue|total_sales|unique_customers|
+--------------------------+-------------------------+-----------+-----------------------+--------------+--------+----------+-------------+-----------+----------------+
|{691cb7dd428c6c622582b0df}|438.340000               |store_sales|Mulhouse               |Thailand      |496     |Blognation|438.34       |1          |1               |
|{691cb7dd428c6c622582b0e0}|366.470000               |store_sales|SÃ£o Vicente de Ferreira|France        |1342    |Cogibox   |366.47       |1          |1               |
|{691cb7dd428c6c622582b0e1}|357.270000               |store_sales|Paris 08               |Poland        |1959    |Dynabox   |357.27       |1          |1               |
|{691cb7dd428c6c622582b0e2}|269.280000               |store_sales|Almelo                 |Costa Rica    |2122    |Eayo      |269.28       |1          |1               |
|{691cb7dd428c6c622582b0e3}|99.930000                |store_sales|Toulouse               |Czech Republic|6466    |Rhycero   |99.93        |1          |1               |
|{691cb7dd428c6c622582b0e4}|169.290000               |store_sales|Ribeiro                |Brazil        |7982    |Topdrive  |169.29       |1          |1               |
|{691cb7dd428c6c622582b0e5}|92.890000                |store_sales|Lagunillas             |Poland        |8086    |Topicware |92.89        |1          |1               |
|{691cb7dd428c6c622582b0e6}|419.590000               |store_sales|Melaka                 |Indonesia     |1395    |Cogilith  |419.59       |1          |1               |
|{691cb7dd428c6c622582b0e7}|400.630000               |store_sales|Carvalhinho            |Sweden        |2563    |Feedfish  |400.63       |1          |1               |
|{691cb7dd428c6c622582b0e8}|21.010000                |store_sales|Meirinhas              |Indonesia     |2999    |Gabcube   |21.01        |1          |1               |
+--------------------------+-------------------------+-----------+-----------------------+--------------+--------+----------+-------------+-----------+----------------+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 1611
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_transaction_value', 'mart_type', 'store_city', 'store_country']

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ Ð¿Ð¾ÑÑ‚Ð°Ð²Ñ‰Ð¸ÐºÐ°Ð¼ (supplier_sales_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_product_price: decimal(8,6) (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- supplier_country: string (nullable = true)
 |-- supplier_id: integer (nullable = true)
 |-- supplier_name: string (nullable = true)
 |-- total_products_sold: long (nullable = true)
 |-- total_revenue: decimal(6,2) (nullable = true)
 |-- unique_products: long (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+---------------------+--------------+----------------+-----------+-------------+-------------------+-------------+---------------+
|_id                       |average_product_price|mart_type     |supplier_country|supplier_id|supplier_name|total_products_sold|total_revenue|unique_products|
+--------------------------+---------------------+--------------+----------------+-----------+-------------+-------------------+-------------+---------------+
|{691cb7dd428c6c622582b72b}|50.152000            |supplier_sales|China           |148        |Ailane       |10                 |1359.50      |1              |
|{691cb7dd428c6c622582b72c}|37.648000            |supplier_sales|Philippines     |463        |BlogXS       |10                 |2313.90      |1              |
|{691cb7dd428c6c622582b72d}|56.855000            |supplier_sales|Colombia        |471        |Blognation   |10                 |1016.10      |1              |
|{691cb7dd428c6c622582b72e}|57.974000            |supplier_sales|China           |496        |Blogpad      |10                 |175.00       |1              |
|{691cb7dd428c6c622582b72f}|52.253000            |supplier_sales|United States   |833        |Browsebug    |10                 |1020.10      |1              |
|{691cb7dd428c6c622582b730}|62.179000            |supplier_sales|Sweden          |1088       |Camido       |10                 |1507.90      |1              |
|{691cb7dd428c6c622582b731}|47.232000            |supplier_sales|Philippines     |1238       |Chatterpoint |10                 |3389.60      |1              |
|{691cb7dd428c6c622582b732}|44.419000            |supplier_sales|Philippines     |1342       |Dabfeed      |10                 |4299.60      |1              |
|{691cb7dd428c6c622582b733}|63.720000            |supplier_sales|Azerbaijan      |1580       |Demizz       |10                 |809.60       |1              |
|{691cb7dd428c6c622582b734}|63.885000            |supplier_sales|Honduras        |1591       |Devbug       |10                 |2732.60      |1              |
+--------------------------+---------------------+--------------+----------------+-----------+-------------+-------------------+-------------+---------------+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 10000
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_product_price', 'mart_type', 'supplier_country', 'supplier_id']

ðŸ“Š Ð’Ð¸Ñ‚Ñ€Ð¸Ð½Ð° ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð° Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ†Ð¸Ð¸ (product_quality_mart):
Ð¡Ñ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- average_rating: decimal(6,5) (nullable = true)
 |-- brand: string (nullable = true)
 |-- category: string (nullable = true)
 |-- mart_type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- number_of_sales: long (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- total_quantity_sold: long (nullable = true)
 |-- total_revenue: decimal(6,2) (nullable = true)
 |-- total_reviews: long (nullable = true)

ÐŸÐµÑ€Ð²Ñ‹Ðµ 10 Ð·Ð°Ð¿Ð¸ÑÐµÐ¹:
+--------------------------+--------------+---------+--------+---------------+---------+---------------+----------+-------------------+-------------+-------------+
|_id                       |average_rating|brand    |category|mart_type      |name     |number_of_sales|product_id|total_quantity_sold|total_revenue|total_reviews|
+--------------------------+--------------+---------+--------+---------------+---------+---------------+----------+-------------------+-------------+-------------+
|{691cb7de428c6c622582de3c}|3.30000       |Buzzshare|Cage    |product_quality|Cat Toy  |10             |463       |50                 |2714.20      |7100         |
|{691cb7de428c6c622582de3d}|1.00000       |Photofeed|Cage    |product_quality|Cat Toy  |10             |463       |50                 |2714.20      |1600         |
|{691cb7de428c6c622582de3e}|2.40000       |Quire    |Toy     |product_quality|Bird Cage|10             |471       |56                 |2538.04      |1550         |
|{691cb7de428c6c622582de3f}|4.80000       |Zoombox  |Food    |product_quality|Cat Toy  |10             |496       |54                 |2377.26      |3990         |
|{691cb7de428c6c622582de40}|4.50000       |Centidel |Cage    |product_quality|Bird Cage|10             |471       |56                 |2538.04      |1150         |
|{691cb7de428c6c622582de41}|1.10000       |Yodel    |Toy     |product_quality|Dog Food |10             |148       |54                 |3147.28      |6460         |
|{691cb7de428c6c622582de42}|4.90000       |Nlounge  |Food    |product_quality|Bird Cage|10             |148       |54                 |3147.28      |6040         |
|{691cb7de428c6c622582de43}|1.70000       |Yodoo    |Cage    |product_quality|Dog Food |10             |496       |54                 |2377.26      |4550         |
|{691cb7de428c6c622582de44}|1.70000       |Photofeed|Toy     |product_quality|Dog Food |10             |471       |56                 |2538.04      |4890         |
|{691cb7de428c6c622582de45}|1.20000       |Tazzy    |Toy     |product_quality|Cat Toy  |10             |833       |61                 |2785.00      |9370         |
+--------------------------+--------------+---------+--------+---------------+---------+---------------+----------+-------------------+-------------+-------------+
only showing top 10 rows

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹: 9982
Ð”Ð¾ÑÑ‚ÑƒÐ¿Ð½Ñ‹Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸: ['_id', 'average_rating', 'brand', 'category', 'mart_type']

==================================================
Ð”Ð•Ð¢ÐÐ›Ð¬ÐÐ«Ð™ ÐÐÐÐ›Ð˜Ð—: ÐŸÐ ÐžÐ”ÐÐ–Ð˜ ÐŸÐž ÐŸÐ ÐžÐ”Ð£ÐšÐ¢ÐÐœ
==================================================
ðŸ† Ð¢Ð¾Ð¿-10 Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¾Ð² Ð¿Ð¾ Ð²Ñ‹Ñ€ÑƒÑ‡ÐºÐµ:

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `total_quantity` cannot be resolved. Did you mean one of the following? [`total_quantity_sold`, `total_revenue`, `total_reviews`, `_id`, `product_id`].;
'Project [name#1746, category#1744, total_revenue#1750, 'total_quantity]
+- Sort [total_revenue#1750 DESC NULLS LAST], true
   +- Relation [_id#1742,average_rating#1743,category#1744,mart_type#1745,name#1746,number_of_sales#1747L,product_id#1748,total_quantity_sold#1749L,total_revenue#1750,total_reviews#1751L] MongoRelation(MongoRDD[334] at RDD at MongoRDD.scala:51,Some(StructType(StructField(_id,StructType(StructField(oid,StringType,true)),true),StructField(average_rating,DecimalType(6,5),true),StructField(category,StringType,true),StructField(mart_type,StringType,true),StructField(name,StringType,true),StructField(number_of_sales,LongType,true),StructField(product_id,IntegerType,true),StructField(total_quantity_sold,LongType,true),StructField(total_revenue,DecimalType(7,2),true),StructField(total_reviews,LongType,true))))